// @import "../../node_modules/tachyons-sass/tachyons";
@import "./variables";
@import "./homepage";
@import "./signup";
@import "./globals";
@import "./success";
@import "./about";
@import "./why";
@import "./navbar";