.tab-container {
	width: 80vw;
	margin: 0 auto;
	margin-top: 2em;
	
	&.about {
		p {
			width: 70vw;
		}
	}

	.subtitle {
		padding: 1em;
		margin-top: 0;
		margin-bottom: 0;
		color: $txt-color;
	}

	.hacktheban-link {
		
		width: 50vw;
		display: block;
		margin: 0 auto;

		@media (max-width: $break-medium) {
			width: 75vw;
		}
		
		@media (max-width: $break-small) {
			width: 80vw;
		}

	}

	.partner-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 250px;

		@media (max-width: $break-medium) {
			height: 175px;
		}

		@media (max-width: $break-small) {
			height: 125px;
		}
		

		.img-container {
			height: 100%;
			text-align: center;
			@include background-radial-gradient($grad-grey);

			img {
				margin-top: 5%;
				height: 80%;
			}
	
		}

	}


	.github-link {
		width: 10vw;
		display: block;
		margin: 0 auto;
		margin-bottom: 10vh;
	}

}