#homepage {
	background-image: url('http://patterncooler.com/gen/index/w/islamic_geometric_interwoven_pattern-296.jpg');
	background-repeat: repeat-y;
	height: 200vh;
}

#title {
	text-align: center;
	margin: 0;

}

// http://patterncooler.com/gen/index/w/islamic_geometric_interwoven_pattern-296.jpg