#homepage {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	
	#banner {
		background-image: url('http://patterncooler.com/gen/index/w/islamic_geometric_interwoven_pattern-296.jpg');
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.title {
		text-align: center;
		margin: 0 auto;
		color: white;
		font-size: 3em;
		line-height: 1em;
		width: 80%;
	}


	footer {
		bottom: 0;
		margin-bottom: 1em;
		position: absolute;
		width: 100%;

		.footer-txt, a {
			color: $txt-color
		}
	
		a {
			text-decoration: none;
			transition: all ease 0.5s;
			-webkit-transition: all ease 0.5s;
			-moz-transition: all ease 0.5s;
			-o-transition: all ease 0.5s;
		}
		a:hover {
			color: #bd1c11;
		}
	}
}


