#signup-container {

	background-color: rgba(250,250,250,0.8);
	border-radius: 1em;
	width: 80vw;
	margin: 0 auto;
	margin-top: 2em;

	.field-container {
		height: 100px
	}

	.subtitle {
		color: #526b5c;
		padding: 1em;
	}

}

#flight-confirmation-container {
	
	h2, h3, h4 {
		color: black
	}

}
