$break-small: 400px;
$break-medium: 750px;

#success-container {
	
	background-color: rgba(250,250,250,0.8);
	border-radius: 1em;
	width: 50vw;
	margin: 0 auto;
	margin-top: 2em;
	padding: 1em;

	@media (max-width: $break-small) {
		width: 90vw;
	}

	@media (max-width: $break-medium) {
		width: 75vw;
	}

	.link-external {
		display: block;
		color: black;
		text-decoration: none;
		transition: all ease 0.5s;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;

		&:hover {
			color: #bd1c11;
		}		
	}




}